page-quran {
	
	@include ltr() {
        // Custom ltr style goes here
        float: left;
    }

    @include rtl() {
        // Custom rtl style goes here
        float: right;
    }

    .sub_title{
    	font-size: 18px;
  	}

  	.small-title{
  		font-size: 14px;
  	}

  
}
