<!--
  Generated template for the QuranPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="sub-title">Surah {{surah}}</div>
      <small class="small-title" *ngIf="juz>0">Juz {{juz}} | Page {{currPage}}</small>
      <small class="small-title" *ngIf="show_range_ayat==true">Ayat {{range_ayat}}</small>
    </ion-title>
    <ion-buttons left>
	     <button ion-button icon-only menuToggle start>
	        <ion-icon name="menu"></ion-icon>
	     </button>
	 </ion-buttons>
   <ion-buttons right>
       <button ion-button icon-only (click)="openModal('QuranSearchPage')">
          <ion-icon name="search"></ion-icon>
       </button>
       <button ion-button icon-only (click)="setBookmark()">
        <ion-icon name="bookmark"></ion-icon>
      </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content-body">
  <div class="paging no-margin">
    <button ion-button round *ngIf="prevPage > 0" navPop>
      <ion-icon name="ios-arrow-dropleft"></ion-icon>
    </button>
    <button ion-button round *ngIf="prevPage < 604" (click)="goToPage(nextPage)">
      <ion-icon name="ios-arrow-dropright"></ion-icon>
    </button>
</div>
  <div *ngFor="let ayat of ayats">
    <ion-card class="mushaf header"  *ngIf="ayat.ayat==1">
      <ion-card-content>
        <strong>{{ayat.surah}}. {{ayat.surah_name}}</strong><br>
        <small>{{ayat.type}} #{{ayat.order}} | {{ayat.count_ayat}}</small><br>
        <button ion-button class="muqodimah" (click)="openModal('QuranMuqodimahPage',{surah:ayat.surah})">Muqodimah</button>
      </ion-card-content>
    </ion-card>
    <ion-card class="mushaf bismillah"  *ngIf="ayat.ayat==1">
      <ion-card-content><img src="assets/img/bismillah.png"/></ion-card-content>
    </ion-card>
    <ion-card class="mushaf">
      <ion-card-content>
        <div class="ayat_number">{{ayat.ayat}}</div>
        <div class="ayat_arabic" dir="rtl">
          ﻿{{ayat.text}}
        </div>
         <div class="ayat_translate">
          {{ayat.text_indo}}
        </div>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-icon name="play"> Play</ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="bulb"> Memoz</ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="bookmarks" (click)="openModal('QuranTafsirPage',{surah:ayat.surah, ayat:ayat.ayat})"> Tafsir</ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon  name="share"> Share</ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-footer no-border>
    <div class="player">
        <button ion-button round>
          <ion-icon name="md-play"></ion-icon>
        </button>
        <button ion-button round>
          <ion-icon name="md-pause"></ion-icon>
        </button>
        <button ion-button round>
          <ion-icon name="md-square"></ion-icon>
        </button>
    </div>
</ion-footer>
<div class="paging">
    <button ion-button round  (click)="viewCtrl.dismiss()" *ngIf="prevPage > 0">
      <ion-icon name="ios-arrow-dropleft"></ion-icon>
    </button>
    <button ion-button round  (click)="goToPage(nextPage)" *ngIf="prevPage < 604">
      <ion-icon name="ios-arrow-dropright"></ion-icon>
    </button>
</div>
</ion-content>
