// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$app-direction: multi;
@font-face {
  font-family: 'me_quran';
  src: url("../assets/fonts/me_quran.ttf"); 
}
@font-face {
  font-family: 'arabic_onenight';
  src: url("../assets/fonts/XXII ARABIAN-ONENIGHTSTAND.ttf"); 
}
@font-face {
  font-family: 'arabic_syawal';
  src: url("../assets/fonts/Alghorie Syawal.ttf"); 
}

.mushaf{
	margin: 0px 0px 10px 0px;
	background-color: #fffbf5;
}

header button{
	border-radius: 5px !important;
}
.mushaf .ayat_arabic{
	font-family: "me_quran";
	font-size: 17pt;
	padding-bottom: 14px;
	line-height: 46px;
}
.mushaf .ayat_number{
    position: absolute;
    font-size: 20px;
    margin: -10px;
    color: #d8c69c;
    font-family: "arabic_syawal"
}
.mushaf .ayat_translate{
	border-top: 1px dashed #8e856f;
    padding-top: 10px;
}
.content-body{
	background-color: #e8e4e0 !important;
}
.content-body .scroll-content{
	padding: 5px;
}
.header-bg ion-avatar img {
    height: 100px;
    border-radius: 78px;
    text-align: center;
    border: 1px solid #65bcb4;
 }
.header-bg ion-avatar{
	padding-left: 33%;
}
.header-bg h2{
	font-family: "arabic_onenight";
	color: #FFFFFF;
	font-size: 20pt;
}
.bar-button-primary-md, .bar-button-clear-md-primary, .bar-button-md-primary{
	color:#FFF;
}
.bar-button-primary-md, .bar-button-clear-md-primary, .bar-button-md-primary:hover{
	color:#FFF;
}
.button-clear-md,.label-md {
	color:#FFF;
}
.toolbar-background{
	background-color: #055f57
}
.bar-button-default-md{
	color: #e2e2e2
}
.toolbar-title-md,.bar-button-default-md:hover{
	color: #FFFFFF
}

input.searchbar-input {
    background-color: #259e8d !important;
    box-shadow: none !important;
    border-bottom: 1px dashed #088d81;
}

header.profile{
	height: 220px;
	background: url("../assets/img/bg.jpg") center;
	border-bottom: 2px solid #2a2b2b;
	text-align: center;
}
.header-bg{
	height: 220px;
	background-color: rgba(0, 153, 140, 0.9);
	padding: 10px;
}
.menu{
	background-color: rgba(0, 153, 140, 0.9);
}
.item-md{
	background-color: #24a296
}
.list-md .item-block .item-inner{
	border-bottom: none !important;
}
.label-md .icon {
	padding-right: 10px;
}

.footer{
	position: fixed;
}
.player{
	background-color: #e8e4e0;
	text-align: center;
}
.paging{
	text-align: center;
	margin-bottom: 50px;
}
.paging.no-margin{
	margin-bottom: 0px;
}